div#homeScreen1.animScreen
  div#introTxtContainer
    p
      | Hello !
      br
      | My name is Julien Zmiro.
    h2#homeTitle1
      span I design & develop
      br
      span.grey Web products.
    p#homeScreen1PScroll (scroll for more)
div#homeScreen2.animScreen
  img(src="/images/home-rea-1.png")#homeImgRea1
  img(src="/images/home-rea-2.png")#homeImgRea2
  img(src="/images/home-rea-3.png")#homeImgRea3
  img(src="/images/home-rea-4.png")#homeImgRea4
  p
    | I like 
    em solving 
    | any kind of problems related to 
    em the way you deliver a product to its users
    | . Unfortunately, it is hard to show the value of a design work on this kind of static mockups.
    br
    | So I chose to put it into words...
div#homeScreen3.animScreen
  div
    img(src="/images/home-square.png")#homeImgSuitedSquare
    img(src="/images/home-suited-boring.png")#homeImgSuitedBoring
    img(src="/images/home-suited-difficult.png")#homeImgSuitedDifficult
    img(src="/images/home-suited-line.png")#homeImgSuitedLine
  p I build
  h2#homeTitle3.screenTitle
    span Suitable 
    span.grey products.
  p
    | I do not design products that "even idiots or 5 years old childs could use".
    br
    | I do not design products that require experts to be used.
    br
    span.orange
      | I design products suited and optimized for 
      em their 
      | users.
    br
    | (and most of the time, they are neither idiots nor experts)
div#homeScreen4.animScreen
  div
    img(src="/images/home-square.png")#homeImgSmartSquare
    img(src="/images/home-smart-bulb-bg.png")#homeImgSmartBulbBg
    img(src="/images/home-smart-bulb.png")#homeImgSmartBulb
    img(src="/images/home-smart-line.png")#homeImgSmartLine
  p I build
  h2#homeTitle4.screenTitle
    span Smart 
    span.grey products.
  p
    | I design products that can be learned 
    em by 
    | users,
    br
    | and that can learn 
    em from 
    | them and their context.
    br
    span.orange I design products that adapt.
div#homeScreen5.animScreen
  div
    img(src="/images/home-square.png")#homeImgHelpfulSquare
    img(src="/images/home-helpful-gear-big.png")#homeImgHelpfulGearBig
    img(src="/images/home-helpful-gear-small.png")#homeImgHelpfulGearSmall
    img(src="/images/home-helpful-heart.png")#homeImgHelpfulHeart
    img(src="/images/home-smart-line.png")#homeImgHelpfulLine
  p I build
  h2#homeTitle5.screenTitle
    span Helpful 
    span.grey products.
  p
    | I design products that allow users to focus on 
    em what they love to do
    | ,
    br
    | and that take care of 
    em what bothers them
    | .
    br
    span.orange I design products dedicated to users goals.
div#homeScreen6.animScreen
  div#homeAboutLeft
    div#homeAge
      p.homeAboutTitle I am
      p#homeAgeYearsNum 26
      div#homeAgeRight
        p#homeAgeYearsLab years
        p#homeAgeMonths
         | 09 
         span months
        p#homeAgeDays
          | 22 
          span days
      p#homeAgeBottom
        | 15 
        span hours 
        | 44 
        span min 
        | 52 
        span sec old
    div#homeHob
      p.homeAboutTitle I like
      div#homeHobImgVideoGames.icoMe
        img(src="/images/ico-videogames.png")
      div#homeHobImgTennis.icoMe
        img(src="/images/ico-tennis.png")
      div#homeHobImgDraw.icoMe
        img(src="/images/ico-draw.png")
      div#homeHobImgDev.icoMe
        img(src="/images/ico-dev.png")
    div#homeQuote
      p.homeAboutTitle I say
      p#homeQuoteP Design is about how a product will work more than how it will look.
  div#homeAct
    p.homeAboutTitle I do
    div#homeActContainer
      div#homeActIllu
        p Illustration
      div#homeActDev
        p Dev
      div#homeActDesign
        p Design
      div#homeActLearn
        p Try to learn things
      div#homeActZombies
        p
          | Hunt zombies
          br
          | (in Borderlands)
  br.clear
div#homeScreen7.animScreen
  h2#homeTitle7 And now ?
  p
    | Now you can leave my website. Or :
    br
    | You can find more of my work on 
    a(href="/portfolio", title="My UX design portfolio") my UX design portfolio
    | .
    br
    | You can learn more on my vision on 
    a(href="http://www.n3rdb1rd.com/journal", title="My journal") my journal
    | .
    br
    | You can also 
    a(href="/images/jz-resume.pdf", title="My resume") download my resume 
    | ( 
    a(href="/images/cv-julien-zmiro.pdf", title="Mon C.V.") french version
    |  ).
    br
    br
    | And finally, you 
    em should
    |  definitely 
    a(href="/contact", title="Contact me") send me few words
    |  if you think that we might work together.